<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
    <title>Comentarios</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/comments-admin.css">
    <link rel="stylesheet" href="/css/buttons-admin.css">
</head>

<body>

  <!-- navigation -->

  <nav class="navbar navbar-light mo-navbar-dark" style="background-color: rgb(73, 12, 151);">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/iepam-logo-white.png" alt="" height="70">
        <span style="color: white; padding-left: 2rem !important;">Comentarios DE <%=title%></span>
      </a>
    </div>
  </nav>  

  <section class="comentarios">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>N°</td>
          <td>Comentario</td>
          <td>Acciones</td>
        </tr>
      </thead>
  
      <tbody>
        <% if (comments) { %>
          <% for(var i=0; i < comments.length; i++) { %>
            <tr>
              <td>
                <%= i + 1 %>
              </td>
              <td>
                <%= comments[i].comentario %>
              </td>
              <td>
                <a href="/delete/<%=leccion%>/<%=title%>/<%=comments[i].id_comentario%>" class="btn-options btn btn-danger">Eliminar</a>
              </td>
            </tr>
            <% } %>
              <% } %>
      </tbody>
  
    </table>

  </section>




</body>

</html>