<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/_head'); %>
    <% var index = 0;
    for(var i = 0; i < lecciones.length; i++){
        if(lecciones[i].num_leccion == leccionavance){
            index = i;
        }
    } %>
    <% if(lecciones.length != 0){%>
        <title>Leccion <%=leccionavance%>. <%=lecciones[index].nombre%></title>
    <%}else{%>
        <title><%=curso[0].nombre%></title>
    <%}%>
    <!-- poner ejs para cambiar el title dependiendo el nombre del curso -->

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/course.css">
    
    <!-- Loader Animation-->
    <link rel="stylesheet" href="/css/transition.css"> 
</head>
<body>

    <!--Section for animation begins-->
    <section id="loaderContainer">
        <div id="mainLoader">
        </div>
    </section>
    <!--Section for animation ends-->

    <!-- Navbar section -->
    <%- include('partials/_navbar-simple-dark'); %>

    <!-- lessons section -->
    <div class="grid-layout">
        <% if(lecciones.length != 0){
            var url = lecciones[index].archivo_url;
            var validacion = url.substring(0,23);
            var urlembebida = url.substring(32,43);
            if(validacion == "https://www.youtube.com"){%>
                <div class="content-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%=urlembebida%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            <%}else{ %>
                <div class="content-archive">
                    <a href="<%=url%>" class="link-archive" target="_blank">
                        <img class="img-archive" src="/img/carpeta.png" alt="img-archivo">
                        <p class="text-archive">Abre el archivo presionando aqui para avanzar en el curso</p> 
                    </a>
                </div>
            <%}%>
            <div class="content-lessons">
                <div class="title-desc-lesson">
                    <p class="head-lessons">Contenido del curso</p>
                </div>
    
                <% for(var i = 0; i < lecciones.length; i++){%>
                    <% if(i == index){%>
                        <div class="lesson isactive" onclick="window.location='/course/<%=curso[0].id_curso%>/<%=lecciones[i].num_leccion%>'">
                    <%}else{%>
                        <div class="lesson" onclick="window.location='/course/<%=curso[0].id_curso%>/<%=lecciones[i].num_leccion%>'">
                    <%}%>
                            <p class="title-lesson"><%=lecciones[i].num_leccion%>. <%= lecciones[i].nombre%></p>
                            <p class="time-lesson"><%=lecciones[i].tiempo_minutos%> min</p>
                        </div>
                <%}%>
            </div>
    
            <div class="content-description">
                <div class="description">
                    <h2>Leccion <%=lecciones[index].num_leccion%> - <%= lecciones[index].nombre%></h2>
                    
                    <!-- Hace el procedimiento para marcar como completada la leccion y ponerla en el avance si es que el num_leccion es menor a la que ya está marcada en el avance de ese curso -->
                    <form action="/avance/<%=curso[0].id_curso%>/<%=leccionavance%>" method="post">
                        <button type="submit" class="btn-complete">Marcar como completado</button>
                    </form>
                    <p>Descripción del curso</p>
                    <p><%=curso[0].descripcion%></p>

                    <!-- Hacer el controlador para mandar comentarios a esa leccion -->
                    <form action="/comment/<%=curso[0].id_curso%>/<%=leccionavance%>" method="post">
                        <label for="comment" class="form-label label-comments">Comentarios:</label>
                        <textarea class="mo-form-control form-control" id="comment" name="comment" placeholder="Agrega un comentario..."></textarea>
                        <button class="btn-comments" type="submit">Enviar commentarios</button>
                    </form>

                    

                </div>
            </div>
        </div>
        <%}else{%>
            <div class="not-lessons">
                <h1 class="text-not-lessons">NO HAY LECCIONES EN ESTE CURSO, REGRESA PRONTO😥...</h1>
                <a href="/" class="btn btn-complete btn-menu">Regresar al Menú🏠</a>
            </div>
        <%}%>


    <!-- Script that stops loading animation -->
    <script src="/js/transition.js"></script> 
</body>
</html>