<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/_head'); %>
    <title>Cursos Disponibles</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/home-user.css">

    <!-- Transition animation -->
    <link rel="stylesheet" href="/css/transition.css">

</head>
 
<body>

    <!--Section for animation begins-->
    <section id="loaderContainer">
        <div id="mainLoader">
        </div>
    </section>
    <!--Section for animation ends-->



    <!-- Navbar Section begins-->
    <%- include('partials/_navbar-menu'); %>
    <!-- Navbar Section ends-->

    
    <section class="title">
        <h1>Cursos Disponibles</h1>
    </section>

    <section class="availableCurses">
        <div class="grid-layout">
        <% if(course){%>
                <% for(var i = 0; i < course.length; i++){%>
                    <div class="course">
                        <% if(avance.length != 0){%>
                            <%var index = -1; for(var j = 0; j < avance.length; j++){%>
                                <%if(avance[j].id_curso == course[i].id_curso){%>
                                    <%index = j;%>
                                <%}%>
                            <%}%>
                            <%if(index == -1){%>
                                <a href="/course/<%= course[i].id_curso %>/1">
                            <%}else{%>
                                <%if(course[i].num_lecciones > avance[index].num_leccion){%>
                                    <a href="/course/<%= course[i].id_curso %>/<%= avance[index].num_leccion+1 %>">
                                <%}else{%>
                                    <a href="/course/<%= course[i].id_curso %>/<%= avance[index].num_leccion %>">
                                <%}%>
                            <%}%>
                        <%}else{%>
                        <a href="/course/<%= course[i].id_curso %>/1">
                            <%}%>
                            <img class="course-img" src="<%= course[i].imagen %>" alt="course-img">
                            <h3 class="title-course"><%= course[i].nombre %></h2>
                        </a>
                    </div>
                <%}%>
        <%}%>
        </div>
    </section>



    <script src="/js/transition.js"></script>
</body>

</html>