<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/_head'); %>
    <title>Perfil</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile-user.css">

    <!-- Transition animation -->
    <link rel="stylesheet" href="/css/transition.css">

</head>
 
<body>

    <!--Section for animation begins-->
    <section id="loaderContainer">
        <div id="mainLoader">
        </div>
    </section>
    <!--Section for animation ends-->

    <!-- Navbar Section begins-->
    <%- include('partials/_navbar-menu'); %>
    <!-- Navbar Section ends-->

    
    <section class="user-profile">
        <h1 class="title-profile">Mi Perfil</h1>
        
        <div class="grid-layout">
            <div class="info-usuario">
                <div>
                    <img width="150px" id="profile-img" src="<%=user.foto%>" alt="img-user">
                </div>
                <div>
                    <% if(user){%>
                        <span class="profile-name badge"><%= user.nombre %></span>
                    <%}%>
                </div>
            </div>
            <div id="info-cursos">
                <h2 class="subtitle-progress">Progreso en los cursos</h2>
                <div class="info-cursos">
                    <%if(curso){%>
                        <% for(var i = 0; i < curso.length; i++){%>
                            <span class="curso-title"><%=curso[i].nombre%></span>
                            <% if(avance.length != 0){%>
                                <%var index = -1; for(var j = 0; j < avance.length; j++){%>
                                    <%if(avance[j].id_curso == curso[i].id_curso){%>
                                        <%index = j;%>
                                    <%}%>
                                <%}%>
                                <%if(index == -1){%>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                    </div>
                                <%}else{ var progress= (avance[index].num_leccion * 100)/curso[i].num_lecciones; progress = Math.round(progress);%>
                                    <!-- <h1><%=avance[index].num_leccion%></h1>
                                    <h1><%=curso[i].num_lecciones%></h1> -->
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: <%=progress%>%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><%=progress%>%</div>
                                    </div>
                                <%}%>
                            <%}else{%>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                            <%}%>
                            <br>
                        <%}%>
                    <%}%>
                </div>
            </div>
        </div>
                        
    </section>
                        

    <script src="/js/transition.js"></script>
</body>

</html>