<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../views/partials/_head'); %>
    <title>IEPAM Registro</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>

    <!-- Login Section -->
    <section class="landingPhoto">
        <img class="img-login" src="/img/registroMain.jpeg" alt="img-background-cerro">
        <div class="login">
            <div class="title">
                <h1>!Hola!</h1>
                <h1>Es momento de registrarte.</h1>
            </div>
        </div>
    </section>

            
    <section class="formsContainer">
        <div>
            <h1 class="mo-subtitle-light">
                Ingresa los siguientes datos
            </h1>
        </div>

        <form action="/register" method="post" class="forms">
            <input class="mo-form-control  form-control form-control-lg" id="email" type="email" name="email" aria-describedby="emailHelp" placeholder="Email"> 
            <input class="mo-form-control form-control form-control-lg" id="user" type="text" name="user" placeholder="Usuario">
            <input class="mo-form-control  form-control form-control-lg" id="password" type="password" name="password" placeholder="Contraseña">
            <div class="text-center">
                <a class="mo-text-dark " href="/">Ya me registre antes</a>
                <button type="submit" class="btn-blue btn btn-default">Enviar datos</button>
            </div>
        </form>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert){ %>
        <script>
          Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer:<%= timer %>
          }).then(()=>{
            window.location = '/<%=ruta%>';
          });
        </script>
      <% }%>

</body>
</html>