<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
    <title>Mis cursos</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">    
    <!-- Custom styles for this template -->
    <link href="/css/home-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/buttons-admin.css">
    <link rel="stylesheet" href="/css/uploadCoursesUser.css">
    <!-- Transition animation -->  
    <link rel="stylesheet" href="/css/transition.css">

</head>

<body>

    <!--Section for animation begins-->
    <section id="loaderContainer">
        <div id="mainLoader">
        </div>
    </section>
    <!--Section for animation ends-->


    <nav class="navbar navbar-light mo-navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/img/iepam-logo-white.png" alt="" height="70">
            <span style="color: white; padding-left: 2rem !important;">Subir Cursos</span>
          </a>
        </div>
      </nav>         

    <div class="container mt-5">
        <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                <td>n°</td>
                <td>Título</td>
                <td>Descripcion</td>
                <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <% if (curso) { %>
                <% for(var i=0; i < curso.length; i++) { %>
                    <tr>
                    <td>
                        <%= (i + 1) %>
                    </td>
                    <td>
                        <%= curso[i].nombre %>
                    </td>
                    <!-- <td><%= curso[i].num_lecciones %></td> -->
                    <td>
                        <%= curso[i].descripcion %>
                    </td>
                    <td>
                        <a href="/updateUser/<%= curso[i].id_curso%>/<%=curso[i].nombre%>/<%= curso[i].descripcion%>"
                        class="btn-options btn btn-info">Editar</a>
                    </td>
                    </tr>
                    <% } %>
                    <% } %>
            </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="card-body">

            <form action="/addCourseUser/<%=usuario%>" method="POST">
                <div class="form-group">
                <input id="nombre" type="text" name="nombre" placeholder="Título" class="form-control" autofocus>
                </div>
                <div class="form-group">
                <textarea rows="4" class="mo-form-control form-control" id="descripcion" name="descripcion" placeholder="Agrega una descripcion"></textarea>
                </div>
                <div class="form-group">
                <input id="imagen" type="text" name="imagen" placeholder="Link a imagen" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">
                Añadir Curso
                </button>

            </form>
            </div>
        </div>
        </div>
    </div>

    <script src="/js/transition.js"></script>

</body>

</html>